/***** INICIO BASE *****/
@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MontserratB;
  src: url(../../assets/fonts/Montserrat-ExtraBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Philosopher;
  src: url(../../assets/fonts/Philosopher-Bold.ttf);
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***** FIN BASE *****/
/***** INICIO GENERAL******/
body {
  font-family: 'Montserrat';
  color: #444;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  border: 2px solid #efefef;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

*::-moz-selection {
  background: #888;
  color: white;
}

*::selection {
  background: #888;
  color: white;
}

.container {
  width: 100%;
  background-color: #efefef;
  padding: 25px;
}

header#all-header.hide, header#ini-header.hide {
  -webkit-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  transform: translateY(-70px);
}

header#all-header.shadow, header#ini-header.shadow {
  -webkit-box-shadow: 0 0 11px 2.5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 11px 2.5px rgba(0, 0, 0, 0.1);
}

.error, .success {
  margin-left: 58px;
  color: #8d8d8d;
  font-size: 13px;
  display: block;
}

/****** FIN GENERAL*****/
/***** INICIO HEADER *****/
header {
  height: 60px;
  background-color: white;
  padding: 0 25px;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

header a {
  text-decoration: none;
  color: #888;
  line-height: 22px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

header a:hover {
  color: #bbb;
}

header nav.name {
  margin-top: 4px;
}

header nav.name a {
  font-size: 36px;
  font-family: Philosopher;
}

header label {
  display: none;
}

header label .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

header label .bars .bar {
  background-color: #888;
  width: 25px;
  margin: 2px 0;
  height: 3px;
  border-radius: 5px;
}

header input {
  display: none;
}

header nav.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

header nav.menu a {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 15px;
  font-family: MontserratB;
  text-transform: uppercase;
}

header nav.menu ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav.menu ul.social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 18px;
}

header nav.menu ul.social li svg.icon-instagram {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  padding: 3px;
  fill: #888;
}

header nav.menu ul.social li svg.icon-instagram:hover {
  fill: white;
  background-color: #888;
  cursor: pointer;
}

header nav.menu ul.social li svg.icon-facebook {
  fill: #888;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  padding: 4px;
  fill: #888;
}

header nav.menu ul.social li svg.icon-facebook:hover {
  fill: white;
  background-color: #888;
  cursor: pointer;
}

body.inizio header#ini-header {
  background-color: transparent;
}

body.inizio header#ini-header a.menu {
  color: #bbb;
}

body.inizio header#ini-header nav.menu ul.social li svg {
  fill: #888;
}

body.inizio header#ini-header svg:hover path {
  fill: black;
}

body.inizio header#ini-header nav.menu ul.social li svg.icon-facebook:hover, body.inizio header#ini-header nav.menu ul.social li svg.icon-instagram:hover {
  background-color: #bbb;
}

body.inizio header#ini-header.white {
  background-color: white;
}

body.inizio header#ini-header.white svg:hover path {
  fill: white;
}

body.inizio header#ini-header.black {
  background-color: black;
}

body.inizio header#ini-header nav.menu.black {
  background-color: black;
}

body.inizio header#ini-header nav.menu.white {
  background-color: white;
}

/***** FIN HEDAER *****/
/*****  INIZIO HEADER IMAGE ******/
section.header-image {
  background: url("../../images/home/home-largo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 100px;
}

section.header-image article.presentation {
  width: 50%;
}

section.header-image article.presentation p.ciao {
  color: white;
  font-size: 60px;
  font-family: MontserratB;
}

section.header-image article.presentation h1 {
  font-size: 40px;
  font-family: Philosopher;
  color: #bbb;
}

section.header-image article.presentation h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: MontserratB;
  padding: 0 4px;
  display: inline;
  line-height: 40px;
  background-color: #bbb;
  color: #222;
}

section.header-image article.presentation p.info {
  margin-top: 5px;
  line-height: 30px;
  font-size: 17px;
  color: #bbb;
}

/*****  FIN INIZIO HEADER IMAGE ******/
/*****  INICIO SECTION CATEGORIES ******/
section.categories {
  width: 100%;
  padding: 100px 80px;
}

section.categories article.matrimonio, section.categories article.moda, section.categories article.ritratti {
  width: 100%;
  background-color: white;
  padding: 100px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.categories article.matrimonio .text, section.categories article.moda .text, section.categories article.ritratti .text {
  width: 40%;
  padding: 25px;
}

section.categories article.matrimonio .text h2, section.categories article.moda .text h2, section.categories article.ritratti .text h2 {
  font-size: 40px;
  font-family: MontserratB;
}

section.categories article.matrimonio .text p, section.categories article.moda .text p, section.categories article.ritratti .text p {
  margin-top: 20px;
  padding: 0 40px;
  line-height: 25px;
}

section.categories article.matrimonio .image, section.categories article.moda .image, section.categories article.ritratti .image {
  width: 60%;
}

section.categories article.matrimonio .image img, section.categories article.moda .image img, section.categories article.ritratti .image img {
  width: 100%;
}

section.categories article.ritratti {
  background-color: #efefef;
}

section.categories article.ritratti .text {
  width: 60%;
  padding: 0 60px;
}

section.categories article.ritratti .image {
  width: 40%;
}

section.categories article.ritratti .image img {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}

body.inizio.js .container section.categories article .image img {
  visibility: hidden;
}

body.inizio.js .container section.categories article .image img.show {
  visibility: visible;
  -webkit-animation-name: onOverlay;
  animation-name: onOverlay;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*****  FIN SECTION CATEGORIES ******/
/*****  INICIO SECTION QUOTE ******/
section.quote {
  width: 100%;
  background-color: #efefef;
  padding: 200px 0;
}

section.quote p {
  margin: auto;
  font-family: 'Philosopher';
  font-size: 60px;
  color: #888;
  display: block;
  width: 80%;
  border-left: 8px solid #888;
  border-right: 8px solid white;
  background-color: white;
}

section.quote p:last-of-type {
  text-align: right;
}

section.quote p:first-of-type {
  text-align: center;
}

/*****  FIN SECTION QUOTE ******/
/*****  INICIO SECCION VIDEO ******/
section.video {
  position: relative;
  width: 100%;
  background-color: #efefef;
}

section.video video {
  width: 100%;
  -webkit-filter: grayscale(100%) brightness(50%);
  filter: grayscale(100%) brightness(50%);
}

section.video .group-video {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 65px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section.video .group-video h2 {
  color: white;
  font-size: 45px;
  font-family: MontserratB;
  margin-bottom: 15px;
}

section.video .group-video p {
  width: 60%;
  color: white;
  font-size: 16px;
  line-height: 25px;
}

section.video .group-video p:last-of-type {
  display: none;
}

/***** FIN SECCION VIDEO **********/
/***** INICIO PORTFOLIO ******/
body.portfolio {
  background-color: #efefef;
  width: 100%;
}

body.portfolio .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 160px 100px;
}

body.portfolio .portfolio .portfolio-menu {
  margin-bottom: 2px;
  padding: 5px;
  background-color: white;
}

body.portfolio .portfolio .portfolio-menu a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
  font-family: MontserratB;
  padding: 0 12px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

body.portfolio .portfolio .portfolio-menu a:hover {
  color: #bbb;
}

body.portfolio .portfolio #overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1111;
  background-color: black;
}

body.portfolio .portfolio #overlay #full-image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px 0;
  margin: auto;
  -webkit-animation-name: onOverlay;
  animation-name: onOverlay;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

body.portfolio .portfolio #overlay #full-image div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

body.portfolio .portfolio #overlay #full-image div #previous, body.portfolio .portfolio #overlay #full-image div #next {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  height: 40px;
  z-index: 1111;
}

body.portfolio .portfolio #overlay #full-image div #close {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 1111;
}

body.portfolio .portfolio #overlay #full-image div #next {
  right: 0;
}

body.portfolio .portfolio #overlay #full-image div img {
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.portfolio .portfolio .container-images {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

body.portfolio .portfolio .container-images .image {
  width: 300px;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

body.portfolio .portfolio .container-images .image img {
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
}

@-webkit-keyframes onOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes onOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***** FIN PORTFOLIO *******/
/***** INICIO CONTACTO ******/
.container-contact {
  width: 100%;
  background-color: #efefef;
  padding: 160px 100px;
}

.container-contact section.contact {
  padding: 100px 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container-contact section.contact .text {
  width: 50%;
  padding-right: 60px;
}

.container-contact section.contact .text h1.name {
  font-size: 40px;
  color: #888;
  font-family: MontserratB;
  margin-bottom: 15px;
}

.container-contact section.contact .text hr {
  width: 70px;
  color: #444;
  background-color: #888;
  border: 1px solid #888;
  margin-bottom: 15px;
}

.container-contact section.contact .text p {
  font-size: 14px;
  margin-bottom: 18px;
  line-height: 22px;
}

.container-contact section.contact .text a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #888;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-bottom: 5px;
}

.container-contact section.contact .text a:hover {
  color: #444;
}

.container-contact section.contact .image {
  width: 50%;
}

.container-contact section.contact .image img {
  width: 100%;
}

.container-contact section.contact-form {
  padding: 120px 200px;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-contact section.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  position: relative;
}

.container-contact section.contact-form form h2 {
  font-size: 42px;
  font-family: MontserratB;
  display: block;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.container-contact section.contact-form form input[type=text], .container-contact section.contact-form form textarea {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #efefef;
  height: 30px;
  padding: 0 20px;
  color: white;
  font-size: 13px;
  outline: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.container-contact section.contact-form form input[type=text]:focus, .container-contact section.contact-form form textarea:focus {
  border-color: #aaa;
  outline: none;
}

.container-contact section.contact-form form textarea {
  padding: 20px;
  resize: none;
  height: 120px;
  outline: none;
  overflow-y: auto;
}

.container-contact section.contact-form form input[type=submit] {
  border: none;
  -webkit-tap-highlight-color: transparent;
  height: 40px;
  width: 140px;
  font-size: 30px;
  outline: none;
  font-family: 'MontserratB';
  color: white;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.container-contact section.contact-form form input[type=submit]:hover {
  color: #efefef;
}

.container-contact section.contact-form form input[type=submit]:active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  text-shadow: 0px 0px 0px transparent;
}

.container-contact section.contact-form form input[type=submit]::-moz-focus-inner {
  border: 0;
}

/***** FIN CONTACTO ******/
/***** INICIO FOOTER ******/
footer {
  height: 50px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

footer .info p.copy, footer .info p.developed {
  color: #444;
  font-size: 12px;
}

footer .info p.developed a {
  text-decoration: none;
  color: #888;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

footer .info p.developed a:hover {
  color: #444;
}

/***** FIN FOOTER ******/
/************MEDIA QUERY ***********/
/************MEDIA QUERY ***********/
/************MEDIA QUERY ***********/
@media (max-width: 5000px) and (min-width: 0) {
  header#all-header.hide, header#ini-header.hide {
    -webkit-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    transform: translateY(-160px);
  }
  header {
    padding: 0 100px;
    height: 160px;
  }
  header nav.name a {
    font-size: 90px;
  }
  header nav.menu a {
    font-size: 38px;
  }
  header nav.menu ul.social li svg.icon-facebook, header nav.menu ul.social li svg.icon-instagram {
    width: 75px;
    height: 75px;
    padding: 13px;
  }
  .container-contact {
    padding: 250px;
  }
  .container-contact section.contact {
    padding: 190px 90px;
  }
  .container-contact section.contact .text h1.name {
    font-size: 60px;
    margin-bottom: 45px;
  }
  .container-contact section.contact .text hr {
    width: 150px;
    border: 3px solid #888;
    margin-bottom: 25px;
  }
  .container-contact section.contact .text p {
    font-size: 37px;
    margin-bottom: 18px;
    line-height: 63px;
    padding-right: 100px;
  }
  .container-contact section.contact .text a {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .container-contact section.contact-form {
    padding: 250px 350px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 72px;
    margin-bottom: 120px;
  }
  .container-contact section.contact-form form input[type=text] {
    margin-bottom: 5px;
    height: 120px;
    border-bottom: 2px solid #efefef;
    padding: 0 60px;
    font-size: 37px;
  }
  .container-contact section.contact-form form span {
    margin-left: 54px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .container-contact section.contact-form form textarea {
    border-bottom: 2px solid #efefef;
    padding: 0 60px;
    height: 260px;
    font-size: 37px;
  }
  .container-contact section.contact-form form input::-webkit-input-placeholder, .container-contact section.contact-form form textarea::-webkit-input-placeholder {
    color: white;
  }
  .container-contact section.contact-form form input:-ms-input-placeholder, .container-contact section.contact-form form textarea:-ms-input-placeholder {
    color: white;
  }
  .container-contact section.contact-form form input::-ms-input-placeholder, .container-contact section.contact-form form textarea::-ms-input-placeholder {
    color: white;
  }
  .container-contact section.contact-form form input::placeholder, .container-contact section.contact-form form textarea::placeholder {
    color: white;
  }
  .container-contact section.contact-form form input[type=submit] {
    height: 110px;
    width: 350px;
    font-size: 70px;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    text-shadow: 0px 7px 17px rgba(0, 0, 0, 0.3);
  }
  body.inizio section.header-image {
    padding: 0 250px;
    height: 1500px;
  }
  body.inizio section.header-image article.presentation {
    width: 50%;
  }
  body.inizio section.header-image article.presentation p.ciao {
    font-size: 70px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 80px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 41px;
    line-height: 80px;
  }
  body.inizio section.header-image article.presentation p.info {
    line-height: 65px;
    font-size: 45px;
  }
  body.inizio .container {
    padding: 0;
  }
  body.inizio .container section.categories {
    padding: 300px 250px;
    margin: 0;
  }
  body.inizio .container section.categories article {
    padding: 200px 80px;
  }
  body.inizio .container section.categories article .text {
    padding: 70px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 70px;
  }
  body.inizio .container section.categories article .text p {
    margin-top: 40px;
    line-height: 56px;
    font-size: 40px;
  }
  body.inizio section.video .group-video {
    width: 60%;
    left: 250px;
  }
  body.inizio section.video .group-video h2 {
    font-size: 70px;
  }
  body.inizio section.video .group-video p {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
  }
  body.inizio section.quote {
    padding: 350px 0;
  }
  body.inizio section.quote p {
    font-size: 120px;
    border-left: 24px solid #888;
  }
  body.portfolio .portfolio {
    padding: 250px;
  }
  body.portfolio .portfolio .portfolio-menu {
    padding: 15px;
    margin-bottom: 12px;
  }
  body.portfolio .portfolio .portfolio-menu a {
    font-size: 35px;
    padding: 0 32px;
  }
  body.portfolio .portfolio #overlay #full-image #f-img #close img {
    width: 60px;
    height: 60px;
  }
  body.portfolio .portfolio #overlay #full-image #f-img #next img, body.portfolio .portfolio #overlay #full-image #f-img #previous img {
    width: 80px;
    height: 80px;
  }
  body.portfolio .portfolio .container-images {
    padding: 100px 55px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 650px;
  }
  footer {
    height: 140px;
    padding: 0 100px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 32px;
  }
}

@media (max-width: 2880px) and (min-width: 0) {
  header#all-header.hide, header#ini-header.hide {
    -webkit-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
  }
  header {
    padding: 0 70px;
    height: 120px;
  }
  header nav.name a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 65px;
  }
  header nav.name a:hover {
    color: #bbb;
  }
  header nav.menu a {
    font-size: 26px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  header nav.menu a:hover {
    color: #bbb;
  }
  header nav.menu ul.social li svg.icon-facebook, header nav.menu ul.social li svg.icon-instagram {
    width: 50px;
    height: 50px;
    padding: 8px;
  }
  body.portfolio .portfolio {
    padding: 170px;
  }
  body.portfolio .portfolio .portfolio-menu a {
    font-size: 27px;
  }
  body.portfolio .portfolio .container-images {
    padding: 70px 55px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 605px;
  }
  body.inizio header nav.name a, body.inizio header nav.menu a {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  body.inizio header nav.name a:hover, body.inizio header nav.menu a:hover {
    color: #bbb;
  }
  body.inizio section.header-image {
    padding: 0 150px;
    height: 1200px;
  }
  body.inizio section.header-image article.presentation p.ciao {
    font-size: 60px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 60px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 30px;
    line-height: 60px;
  }
  body.inizio section.header-image article.presentation p.info {
    line-height: 50px;
    font-size: 35px;
  }
  body.inizio .container {
    padding: 0;
  }
  body.inizio .container section.categories {
    padding: 250px 100px;
    margin: 0;
  }
  body.inizio .container section.categories article {
    padding: 100px 70px;
  }
  body.inizio .container section.categories article .text {
    padding: 50px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 60px;
  }
  body.inizio .container section.categories article .text p {
    line-height: 42px;
    font-size: 32px;
  }
  body.inizio section.video .group-video {
    width: 60%;
    left: 150px;
  }
  body.inizio section.video .group-video p {
    font-size: 30px;
    line-height: 40px;
  }
  body.inizio section.quote {
    padding: 340px 0;
  }
  body.inizio section.quote p {
    font-size: 80px;
    padding: 20px 140px;
    border-left: 18px solid #888;
  }
  .container-contact {
    padding: 170px;
  }
  .container-contact section.contact {
    padding: 120px 90px;
  }
  .container-contact section.contact .text h1.name {
    font-size: 55px;
    margin-bottom: 45px;
  }
  .container-contact section.contact .text hr {
    width: 150px;
    border: 3px solid #888;
    margin-bottom: 25px;
  }
  .container-contact section.contact .text p {
    font-size: 28px;
    margin-bottom: 42px;
    line-height: 42px;
    padding-right: 60px;
  }
  .container-contact section.contact .text a {
    font-size: 26px;
  }
  .container-contact section.contact-form {
    padding: 160px 350px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 55px;
    margin-bottom: 120px;
  }
  .container-contact section.contact-form form input[type=text] {
    margin-bottom: 10px;
    height: 80px;
    font-size: 32px;
  }
  .container-contact section.contact-form form textarea {
    border-bottom: 2px solid #efefef;
    padding: 0 60px;
    height: 260px;
    font-size: 32px;
  }
  .container-contact section.contact-form form input[type=submit] {
    height: 110px;
    width: 290px;
    font-size: 50px;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    text-shadow: 0px 7px 17px rgba(0, 0, 0, 0.3);
  }
  footer {
    height: 100px;
    padding: 0 70px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 26px;
  }
}

@media (max-width: 2200px) and (min-width: 0) {
  header#all-header.hide, header#ini-header.hide {
    -webkit-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    transform: translateY(-90px);
  }
  header {
    padding: 0 60px;
    height: 90px;
  }
  header nav.name a {
    font-size: 55px;
  }
  header nav.menu a {
    font-size: 22px;
  }
  header nav.menu ul.social li svg.icon-facebook, header nav.menu ul.social li svg.icon-instagram {
    width: 36px;
    height: 36px;
    padding: 5px;
  }
  body.portfolio .portfolio {
    padding: 110px;
  }
  body.portfolio .portfolio .portfolio-menu {
    padding: 10px;
    margin-bottom: 8px;
  }
  body.portfolio .portfolio .portfolio-menu a {
    font-size: 20px;
  }
  body.portfolio .portfolio #overlay #full-image #f-img #close img {
    width: 40px;
    height: 40px;
  }
  body.portfolio .portfolio #overlay #full-image #f-img #next img, body.portfolio .portfolio #overlay #full-image #f-img #previous img {
    width: 40px;
    height: 40px;
  }
  body.portfolio .portfolio .container-images {
    padding: 40px 30px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 469px;
  }
  body.inizio section.header-image {
    padding: 0 110px;
    height: 900px;
  }
  body.inizio section.header-image article.presentation p.ciao {
    font-size: 50px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 45px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 23px;
    line-height: 40px;
  }
  body.inizio section.header-image article.presentation p.info {
    line-height: 30px;
    font-size: 22px;
  }
  body.inizio .container section.categories {
    padding: 160px 70px;
  }
  body.inizio .container section.categories article {
    padding: 60px 40px;
  }
  body.inizio .container section.categories article .text {
    padding: 40px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 45px;
  }
  body.inizio .container section.categories article .text p {
    line-height: 30px;
    font-size: 22px;
  }
  body.inizio section.video .group-video {
    width: 100%;
    left: 0;
    padding: 100px;
  }
  body.inizio section.video .group-video h2 {
    font-size: 35px;
  }
  body.inizio section.video .group-video p {
    font-size: 22px;
    line-height: 30px;
    width: 70%;
  }
  body.inizio section.quote {
    padding: 250px 0;
  }
  body.inizio section.quote p {
    font-size: 60px;
    border-left: 12px solid #888;
  }
  .container-contact {
    padding: 140px 110px 110px 110px;
  }
  .container-contact section.contact {
    padding: 90px 60px;
  }
  .container-contact section.contact .text h1.name {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .container-contact section.contact .text hr {
    width: 110px;
    border: 2px solid #888;
    margin-bottom: 25px;
  }
  .container-contact section.contact .text p {
    font-size: 22px;
    margin-bottom: 22px;
    line-height: 40px;
    padding-right: 30px;
  }
  .container-contact section.contact .text a {
    font-size: 20px;
  }
  .container-contact section.contact-form {
    padding: 130px 230px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 40px;
    margin-bottom: 100px;
  }
  .container-contact section.contact-form form input[type=text] {
    font-size: 28px;
  }
  .container-contact section.contact-form form textarea {
    border-bottom: 2px solid #efefef;
    padding: 0 60px;
    height: 260px;
    font-size: 28px;
  }
  .container-contact section.contact-form form input[type=submit] {
    height: 110px;
    width: 250px;
    font-size: 40px;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    text-shadow: 0px 7px 17px rgba(0, 0, 0, 0.3);
  }
  footer {
    height: 80px;
    padding: 0 60px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 20px;
  }
}

@media (max-width: 1900px) and (min-width: 0) {
  body.portfolio .portfolio .container-images .image {
    width: 478px;
  }
}

@media (max-width: 1700px) and (min-width: 0) {
  header {
    padding: 0 40px;
    height: 60px;
  }
  header nav.name a {
    font-size: 40px;
  }
  header nav.menu a {
    font-size: 15px;
  }
  header nav.menu ul.social li svg.icon-facebook, header nav.menu ul.social li svg.icon-instagram {
    width: 31px;
    height: 31px;
    padding: 5px;
  }
  body.inizio section.header-image {
    height: 600px;
    padding: 0 90px;
  }
  body.inizio section.header-image article.presentation p.ciao {
    font-size: 30px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 33px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 17px;
    line-height: 25px;
  }
  body.inizio section.header-image article.presentation p.info {
    line-height: 22px;
    font-size: 16px;
  }
  body.inizio .container section.categories {
    padding: 130px 50px;
  }
  body.inizio .container section.categories article {
    padding: 60px 40px;
  }
  body.inizio .container section.categories article .text {
    padding: 32px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 35px;
  }
  body.inizio .container section.categories article .text p {
    margin-top: 20px;
    line-height: 22px;
    font-size: 16px;
  }
  body.inizio section.video .group-video h2 {
    font-size: 32px;
  }
  body.inizio section.video .group-video p {
    font-size: 16px;
    line-height: 22px;
  }
  body.inizio section.quote {
    padding: 200px 0;
  }
  body.inizio section.quote p {
    font-size: 38px;
    padding: 15px 80px;
    border-left: 10px solid #888;
  }
  body.portfolio .portfolio {
    padding: 90px 100px 80px 100px;
  }
  body.portfolio .portfolio .portfolio-menu {
    margin-bottom: 3px;
  }
  body.portfolio .portfolio .portfolio-menu a {
    padding: 0 10px;
    font-size: 14px;
  }
  body.portfolio .portfolio .container-images {
    padding: 20px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 366px;
  }
  body.portfolio .portfolio .container-images .image img {
    padding: 7px;
  }
  .container-contact {
    padding: 110px 100px 100px 100px;
  }
  .container-contact section.contact {
    padding: 90px 60px;
  }
  .container-contact section.contact .text h1.name {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .container-contact section.contact .text hr {
    width: 110px;
    border: 2px solid #888;
    margin-bottom: 25px;
  }
  .container-contact section.contact .text p {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 25px;
    padding-right: 30px;
  }
  .container-contact section.contact .text a {
    font-size: 15px;
  }
  .container-contact section.contact-form {
    padding: 80px 200px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .container-contact section.contact-form form input[type=text] {
    margin-bottom: 5px;
    height: 55px;
    border-bottom: 1px solid #efefef;
    font-size: 18px;
  }
  .container-contact section.contact-form form span {
    font-size: 16px;
  }
  .container-contact section.contact-form form textarea {
    border-bottom: 2px solid #efefef;
    padding: 0 60px;
    height: 130px;
    font-size: 18px;
  }
  .container-contact section.contact-form form input[type=submit] {
    height: 80px;
    width: 210px;
    font-size: 30px;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    text-shadow: 0px 7px 17px rgba(0, 0, 0, 0.3);
  }
  footer {
    height: 60px;
    padding: 0 40px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 15px;
  }
}

@media (max-width: 1350px) and (min-width: 0) {
  body.inizio .container section.categories {
    padding: 50px 35px;
  }
  body.inizio .container section.categories article {
    padding: 70px 35px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 32px;
  }
  body.inizio .container section.categories article .text p {
    font-size: 15px;
    line-height: 23px;
  }
  body.inizio section.header-image {
    height: 550px;
  }
  body.portfolio .portfolio .container-images {
    padding: 40px 10px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 365px;
  }
  body.portfolio .portfolio .container-images .image img {
    padding: 5px;
  }
  .container-contact section.contact-form {
    padding: 90px 140px;
  }
  .container-contact section.contact-form form input[type=submit] {
    width: 125px;
    font-size: 26px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 323px;
  }
  body.portfolio .portfolio #overlay #full-image #f-img #close img {
    width: 30px;
    height: 30px;
  }
  body.portfolio .portfolio #overlay #full-image #f-img #next img, body.portfolio .portfolio #overlay #full-image #f-img #previous img {
    width: 40px;
    height: 40px;
  }
  footer {
    height: 60px;
    padding: 0 40px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 13px;
  }
}

@media (max-width: 1200px) and (min-width: 0) {
  header {
    padding: 0 40px;
    height: 50px;
  }
  header nav.name a {
    font-size: 34px;
  }
  header nav.menu a {
    font-size: 13px;
  }
  header nav.menu ul.social li svg.icon-facebook, header nav.menu ul.social li svg.icon-instagram {
    width: 24px;
    height: 24px;
    padding: 4px;
  }
  body.portfolio .portfolio {
    padding: 80px 30px 30px 30px;
  }
  body.portfolio .portfolio .container-images {
    padding: 30px 10px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 310px;
  }
  body.portfolio .portfolio .container-images .image img {
    padding: 5px;
  }
  body.inizio section.header-image article.presentation p.ciao {
    font-size: 28px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 30px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 15px;
  }
  body.inizio .container section.categories article .text {
    padding: 0;
    padding-left: 25px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 30px;
  }
  body.inizio .container section.categories article .text p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 21px;
  }
  body.inizio .container section.categories article.ritratti .text {
    padding: 0;
    padding-right: 25px;
  }
  body.inizio .container section.categories article.ritratti .text h2 {
    padding: 0 40px;
  }
  body.inizio .container section.categories article.ritratti .text p {
    padding: 0 110px;
  }
  body.inizio section.video .group-video {
    padding: 60px;
  }
  body.inizio section.video .group-video p {
    font-size: 15px;
  }
  body.inizio section.quote {
    padding: 150px 0;
  }
  section.header-image article.presentation {
    width: 60%;
  }
  .container-contact {
    padding: 90px 60px 60px 60px;
  }
  .container-contact section.contact {
    padding: 70px 40px;
  }
  .container-contact section.contact .text {
    width: 60%;
  }
  .container-contact section.contact .text h1.name {
    font-size: 28px;
  }
  .container-contact section.contact .text p {
    font-size: 13px;
    line-height: 20px;
  }
  .container-contact section.contact .image {
    width: 40%;
  }
  .container-contact section.contact-form {
    padding: 70px 120px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 28px;
  }
  .container-contact section.contact-form form input[type=submit] {
    width: 125px;
    font-size: 25px;
  }
  .container-contact section.contact-form form input[type=text], .container-contact section.contact-form form textarea, .container-contact section.contact-form form label {
    font-size: 17px;
  }
  .container-contact section.contact-form form input[type=text] {
    height: 40px;
  }
  .container-contact section.contact-form form span {
    font-size: 14px;
  }
  footer {
    height: 50px;
    padding: 0 40px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 12px;
  }
}

@media (max-width: 1024px) and (min-width: 0) {
  header, footer {
    padding: 0 40px;
  }
  body.inizio section.header-image {
    height: 500px;
  }
  body.inizio section.header-image article.presentation {
    width: 65%;
  }
  body.inizio .container section.categories {
    padding: 60px 30px;
  }
  body.inizio .container section.categories article {
    padding: 50px 25px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 25px;
  }
  body.inizio .container section.categories article .text p {
    font-size: 13px;
    line-height: 20px;
  }
  body.inizio section.video .group-video h2 {
    font-size: 28px;
  }
  body.inizio section.video .group-video p {
    margin-left: 0;
    font-size: 14px;
    line-height: 20px;
  }
  body.inizio section.quote {
    padding: 125px 0;
  }
  body.inizio section.quote p {
    font-size: 30px;
  }
  body.inizio footer {
    height: 50px;
  }
  body.portfolio .portfolio .container-images {
    padding: 20px 15px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 252px;
  }
  body.portfolio .portfolio .container-images .image img {
    padding: 3px;
  }
  .container-contact {
    padding: 90px 40px 40px 40px;
  }
  .container-contact section.contact {
    padding: 50px 25px;
  }
  .container-contact section.contact .text {
    padding-right: 50px;
  }
  .container-contact section.contact .text h1.name {
    font-size: 24px;
  }
  .container-contact section.contact .text br:first-of-type {
    display: none;
  }
  .container-contact section.contact .text a {
    margin-bottom: 7px;
    font-size: 13px;
  }
  .container-contact section.contact-form {
    padding: 50px 80px 50px 80px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 24px;
  }
  .container-contact section.contact-form form input[type=submit] {
    width: 110px;
    font-size: 22px;
  }
}

@media (max-width: 900px) and (min-width: 0) {
  header {
    height: 50px;
    padding: 0 30px;
  }
  .container-contact {
    padding: 80px 30px 30px 30px;
  }
  .container-contact section.contact {
    padding: 40px 30px;
  }
  .container-contact section.contact .text {
    padding-right: 30px;
  }
  .container-contact section.contact .text p {
    font-size: 12px;
    line-height: 20px;
  }
  .container-contact section.contact .text br:last-of-type {
    display: none;
  }
  .container-contact section.contact .text a {
    font-size: 12px;
  }
  .container-contact section.contact-form {
    padding: 60px 100px;
  }
  .container-contact section.contact-form form input[type=submit] {
    width: 115px;
    font-size: 23px;
  }
  .container-contact section.contact-form form input[type=text], .container-contact section.contact-form form textarea {
    padding: 0 40px;
  }
  .container-contact section.contact-form form span {
    margin-left: 37px;
  }
  body.inizio section.header-image {
    padding: 0 50px;
    height: 450px;
  }
  body.inizio section.header-image article.presentation {
    width: 70%;
  }
  body.inizio section.header-image article.presentation p.ciao {
    font-size: 25px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 25px;
  }
  body.inizio section.header-image article.presentation h2 {
    line-height: 26px;
    font-size: 13px;
  }
  body.inizio section.header-image article.presentation p.info {
    line-height: 18px;
    font-size: 12px;
  }
  body.inizio .container section.categories article {
    padding: 35px 15px;
  }
  body.inizio .container section.categories article .text {
    padding-left: 15px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 22px;
  }
  body.inizio .container section.categories article .text p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  body.inizio .container section.categories article.ritratti .text p {
    padding: 0 80px;
  }
  body.inizio section.video .group-video {
    width: 100%;
    left: 0;
    padding: 50px;
  }
  body.inizio section.video .group-video h2 {
    font-size: 26px;
  }
  body.inizio section.video .group-video p {
    font-size: 12px;
    line-height: 16px;
  }
  body.inizio section.quote {
    padding: 125px 0;
  }
  body.inizio section.quote p {
    font-size: 26px;
  }
  body.portfolio .portfolio .portfolio-menu {
    padding: 5px;
  }
  body.portfolio .portfolio .portfolio-menu a {
    padding: 0 12px;
    font-size: 12px;
  }
  body.portfolio .portfolio .container-images {
    padding: 10px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 220px;
  }
  body.portfolio .portfolio .container-images .image img {
    padding: 2px;
  }
  footer {
    padding: 0 30px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 11px;
  }
}

@media (max-width: 768px) and (min-width: 0) {
  header label {
    display: block;
    z-index: 100;
    cursor: pointer;
  }
  header nav.menu {
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 0 40px;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  header nav.menu a {
    margin: 0;
    margin-right: 20px;
    color: #888;
    line-height: 23px;
  }
  header nav.menu ul.social li {
    margin: 0;
    margin-right: 20px;
  }
  header input[type=checkbox]:checked ~ nav.menu {
    background-color: white;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  body.inizio header input[type=checkbox]:checked ~ nav.menu {
    background-color: black;
  }
  body.inizio .container {
    padding: 0;
  }
  body.inizio .container section.categories article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 40px 25px;
  }
  body.inizio .container section.categories article .text {
    padding: 0;
    width: 100%;
    margin-top: 15px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 28px;
  }
  body.inizio .container section.categories article .text p {
    font-size: 16px;
    line-height: 22px;
  }
  body.inizio .container section.categories article .image {
    width: 100%;
  }
  body.inizio .container section.categories article.ritratti {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
  }
  body.inizio section.video video {
    width: 150%;
  }
  body.inizio section.video .group-video h2 {
    font-size: 28px;
  }
  body.inizio section.video .group-video p {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }
  body.inizio section.quote {
    padding: 80px 0;
  }
  body.inizio section.quote p {
    text-align: left;
    padding: 10px 20px;
    font-size: 50px;
  }
  body.inizio section.quote p.author {
    padding: 0;
    padding-top: 40px;
    text-align: right;
  }
  body.inizio section.header-image {
    height: 500px;
    padding: 0 50px;
  }
  body.inizio section.header-image article.presentation {
    width: 70%;
  }
  body.portfolio .portfolio .container-images {
    padding: 20px;
  }
  body.portfolio .portfolio .container-images .image {
    width: 400px;
  }
  .container-contact section.contact {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .container-contact section.contact .text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 0;
    margin-top: 30px;
  }
  .container-contact section.contact .text p {
    font-size: 14px;
    line-height: 23px;
    padding-right: 0;
  }
  .container-contact section.contact .image, .container-contact section.contact .text {
    width: 100%;
  }
  .container-contact section.contact .image {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .container-contact section.contact-form {
    padding: 55px;
  }
  footer {
    height: 50px;
  }
}

@media (max-width: 600px) and (min-width: 0) {
  header {
    padding: 0 20px;
  }
  header nav.menu {
    padding: 0 20px;
  }
  body.inizio section.header-image {
    height: 310px;
    padding: 0 40px;
  }
  body.inizio section.header-image article.presentation {
    width: 75%;
  }
  body.inizio section.header-image article.presentation p.ciao {
    margin-top: 40px;
    font-size: 27px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 24px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 12px;
    line-height: 24px;
  }
  body.inizio section.header-image article.presentation p.info {
    font-size: 12px;
    line-height: 20px;
  }
  body.inizio .container section.categories {
    padding: 40px 20px;
  }
  body.inizio .container section.categories article, body.inizio .container section.categories article.ritratti {
    padding: 20px 10px;
  }
  body.inizio .container section.categories article .text, body.inizio .container section.categories article.ritratti .text {
    padding: 0 20px;
  }
  body.inizio .container section.categories article .text h2, body.inizio .container section.categories article.ritratti .text h2 {
    padding: 0;
  }
  body.inizio .container section.categories article .text p, body.inizio .container section.categories article.ritratti .text p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 21px;
  }
  body.inizio section.video .group-video {
    width: 100%;
    left: 0;
    padding: 0 20px;
  }
  body.inizio section.video .group-video p {
    width: 90%;
    line-height: 15px;
  }
  body.inizio section.video .group-video p:last-of-type {
    display: block;
  }
  body.inizio section.video .group-video p:first-of-type {
    display: none;
  }
  body.inizio section.quote p {
    font-size: 40px;
    border-left: 5px solid #888;
  }
  body.portfolio .portfolio {
    padding: 70px 20px 20px 20px;
  }
  body.portfolio .portfolio .container-images {
    padding: 24px 0;
  }
  body.portfolio .portfolio .container-images .image {
    padding: 2px 10px;
  }
  body.portfolio .portfolio .container-images .image img {
    padding: 0;
  }
  .container-contact {
    padding: 70px 20px 20px 20px;
  }
  .container-contact section.contact {
    padding: 25px;
  }
  .container-contact section.contact-form {
    padding: 40px 30px;
  }
  .container-contact section.contact-form form input[type=text], .container-contact section.contact-form form textarea {
    font-size: 15px;
    padding: 0 20px;
    margin-bottom: 10px;
    height: 35px;
  }
  .container-contact section.contact-form form span {
    font-size: 13px;
    margin-left: 18px;
  }
  .container-contact section.contact-form form textarea {
    height: 130px;
  }
  .container-contact section.contact-form form input[type=submit] {
    height: 50px;
  }
  footer {
    padding: 0 20px;
  }
  footer .info p.copy, footer .info p.developed, footer .info p.developed a {
    font-size: 10px;
  }
}

@media (max-width: 480px) and (min-width: 0) {
  header {
    height: 45px;
  }
  header nav.name a {
    font-size: 30px;
  }
  header nav.menu {
    height: 45px;
  }
  header nav.menu a {
    font-size: 13px;
  }
  header nav.menu ul.social li svg {
    width: 23px;
    height: 23px;
  }
  body.inizio section.header-image {
    height: 300px;
  }
  body.inizio section.header-image article.presentation p.ciao, body.inizio section.header-image article.presentation h1.name {
    font-size: 23px;
  }
  body.inizio section.video video {
    width: 200%;
  }
  body.inizio section.video .group-video h2 {
    font-size: 24px;
    margin-bottom: 11px;
  }
  body.inizio section.video .group-video p {
    font-size: 12px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 26px;
  }
  body.inizio .container section.categories article .text p {
    font-size: 12px;
    line-height: 19px;
  }
  body.inizio section.quote p {
    border-left: 5px solid;
    font-size: 35px;
  }
}

@media (max-width: 420px) and (min-width: 0) {
  header {
    padding: 0 10px;
  }
  header nav.menu a {
    font-size: 11px;
  }
  header nav.menu ul.social {
    display: none;
  }
  body.inizio section.header-image {
    height: 250px;
    padding: 0 20px;
  }
  body.inizio section.header-image article.presentation {
    width: 80%;
  }
  body.inizio section.header-image article.presentation p.ciao {
    margin-top: 40px;
    font-size: 22px;
  }
  body.inizio section.header-image article.presentation h1.name {
    font-size: 20px;
  }
  body.inizio section.header-image article.presentation h2 {
    font-size: 10px;
    line-height: 14px;
  }
  body.inizio section.header-image article.presentation p.info {
    font-size: 10px;
    line-height: 14px;
  }
  body.inizio .container section.categories {
    padding: 25px 10px;
  }
  body.inizio .container section.categories article .text h2 {
    font-size: 24px;
  }
  body.inizio section.quote {
    padding: 60px 0;
  }
  body.inizio section.quote p {
    width: 90%;
    border-left: 4px solid;
  }
  body.portfolio .portfolio {
    padding: 60px 10px 10px 10px;
  }
  body.portfolio .portfolio .portfolio-menu {
    text-align: center;
    width: 100%;
  }
  .container-contact {
    padding: 60px 10px 10px 10px;
  }
  .container-contact section.contact {
    padding: 15px;
  }
  .container-contact section.contact .text {
    padding-right: 0px;
  }
  .container-contact section.contact .text a {
    font-size: 13px;
  }
  .container-contact section.contact .text p {
    font-size: 12px;
    line-height: 19px;
    padding-right: 0px;
  }
  .container-contact section.contact-form form h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  footer {
    padding: 0 10px;
  }
}
